body {
  margin: 0;
  padding: 0;
  background-color: #fc9;
}
#container {
  margin: 2%;
  padding: 0;
  width: 97%;
}

#tasks {
  float: left;
  width: 96%;
  margin: 1% 0 0.1% 1%;
  padding: 1%;
  background-color: #9cf;
}

#left, #right {
  float: left;
  width: 46.5%;
  margin: 1% 0 1% 1%;
  padding: 1%;
  background-color: #9cf;
  color: #000;
}
                                             
#right {
  float: right;
  margin: 1% 1% 1% 0;
}
.clear {
  height: 0;
  font-size: 1px;
  margin: 0;
  padding: 0;
  line-height: 0;
  clear: both;
}

